name: Pypi deployment
on:
  push:
    branches: [ main ]

  workflow_dispatch:
    branches: [ main ]

env:
  TAG: 1.2.0
  NAME: messenger_bus

jobs:
  build-push:
    runs-on: ubuntu-latest
    environment: production
    permissions:
      id-token: write
      contents: read

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Build and Deploy to Pypi
      id: build-image
      run: |
          pip install twine

          echo "creating build folder..."
          pip install --upgrade .
          echo "creating build folder...[OK]"

          echo "creating dist/$NAME-$TAG.tar.gz file..."
          python setup.py sdist
          echo "creating dist/$NAME-$TAG.tar.gz file...[OK]"

          echo "Pushing image to Pypi..."
          echo "twine upload dist/$NAME-$TAG.tar.gz -u '${{ secrets.PYPI_USERNAME }}' -p '${{ secrets.PYPI_TOKEN }}'"
          twine upload dist/$NAME-$TAG.tar.gz -u "${{ secrets.PYPI_USERNAME }}" -p "${{ secrets.PYPI_TOKEN }}"
          echo "Pushing image to Pypi...[OK]"
